# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
ENV/

# Logs
*.log

# Environment variables
.env
*.env

# macOS / Linux system files
.DS_Store
*.swp

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/
