.venv/
.idea/
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
*.coverage
dist/
build/
.eggs/
*.egg
*.whl
*.tar.gz
*.zip
*.bak
*.swp
*.tmp
*.pid
*.orig
*.rej
*.swo   
terminalgpt.log
